<html>
<div id="main-wrapper">
    <div id="main">
        <div id="info">
            {% if errors %}
            {% for error in errors %}
            <div><p>{{ error }}</p></div>
            {% endfor %}
            {% endif %}
            <form action = "booking" method="post">
            <input id="start_data" type="text" name="start_date" value="{{ request.form['start_date'] }}"/>
            <input id="end_date" type="text" name="end_date">
            <input type="text" name="name" />
            <input type="text" name="email" />

            <input type="submit" value="Submit">
        </div>
    </div>
</div>
</html>
