    <!DOCTYPE html>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript">
    var auto_refresh = setInterval(function ()
        {
            $('#stats').load('/weather').fadeIn("slow");
            }, 1000);
    </script>
    <html>
      <head>
        <title>Your Local Weather App</title>
      </head>
      <body>
        <main class="wrapper">
          <div class="weather wind" id=stats>
            <p>Friendswood, TX</p>
            <p>78.62 F</p>
            <p>East 6.9 Mph</p>
            <p>Water Pressure 0.0 psi</p>
          </div>
        </main>
      </body>
    </html>
    
